.intro {
    background-color: rgb(109, 109, 100);
    color: rgb(26, 21, 21);
    text-align: center;
    line-height: 2.5rem;
}

img {
    width: 600px;
    height: 355px;
    padding-bottom: 10px;
}

.image {
    background-color: blanchedalmond;
    padding-right: 0%;
}