* {
    margin: 0;
    padding: 0;
    font-family: Century;
}

.intro {
    background-color: rgb(109, 109, 100);
    color: rgb(26, 21, 21);
    text-align: center;
    line-height: 2.5rem;
}

img {
    width: 600px;
    height: 355px;
    padding-bottom: 10px;
    background-position: center;
    background-size: cover;
}

.image {
    background-color: rgb(230, 222, 210);
    padding-right: 0%;
    padding-top: 5%;
}

.pannel {
    padding-top: 20px;
    float: right;
    margin: auto;
    width: 700px;
}

ul li {
    display: inline-block;
    margin: top 20px;
    padding-bottom: 20px;
}

ul li a {
    font-style: oblique;
    text-decoration: none;
    color: rgb(39, 36, 31);
    padding: 10px 20px;
    border: 1px solid black;
    transition: 0.6s ease;
    font-size: 30px;
}

ul li a:hover {
    background-color: rgb(177, 197, 87);
    color: rgb(80, 15, 221);
}