* {
    margin: 0;
    padding: 0;
    font-family: Century;
}

html {
    background-image: linear-gradient( to bottom, rgb(75, 102, 114), white)
}

.intro {
    background-color: rgb(109, 109, 100);
    color: rgb(26, 21, 21);
    text-align: center;
    line-height: 2.5rem;
}

.image {
    width: 750px;
    overflow: hidden;
    padding-left: 15%;
    margin-left: auto;
    margin-right: auto;
}

.image1 {
    position: relative;
    width: 6800px;
    animation: ani 25s;
}

.image1 img {
    float: left;
    height: 500px;
}

@keyframes ani {
    0% {
        left: 0px;
    }
    10% {
        left: 0px;
    }
    20% {
        left: -780px;
    }
    40% {
        left: -2100px;
    }
    60% {
        left: -3200px;
    }
    80% {
        left: -4200px;
    }
    100% {
        left: 20px;
    }
}

.quotes {
    line-height: 1.8;
    padding-left: 10%;
    padding-top: 5%;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20%;
    text-align: left;
}